<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <center>
        <table border="1" bordercolor="black" cellspacing="0" cellpadding="30">
            <tr>
                <td>
                    <form action="/updatePortfolio/<%=values._id %>" method="post" enctype="multipart/form-data">
                        <div>
                            <b>Category:</b><br>
                            <select name="catagory">
                                <option selected="" disabled="">Select Category</option>
                                <% for(let i=0; i < cat.length; i++) { %>
                                    <option value="<%= cat[i]._id %>">
                                        <%= cat[i].name %>
                                    </option>
                                    <%}%>
                            </select>
                        </div><br>
                            <div>
                                <label>
                                    <b>Project Name:</b>
                                </label><br>
                                <input type="text" name="name" placeholder="Enter Your Name" value="<%= values.name %>">
                                <br>
                                <% if (typeof error2 !=='undefined' && error2.length> 0) { %>
                                    <div style="color: red;">
                                        <%= error2 %>
                                    </div>
                                    <% } %>
                            </div><br>
                            <div>
                                <% values.image.forEach(function(image) { %>
                                    <img src="/<%= image %>" width="50" class="img-thumbnail" />
                                    <% }) %>
                                    <br>
                                <label><b>Images:</b></label><br>
                                <input type="file" name="image" multiple value="<%=values.image %>" ><br><br>
                            </div><br>
                            <div>
                                <label><b>Title:</b></label><br>
                                <input type="text" name="title" placeholder="Enter Your Project Title" value="<%= values.title %>"><br><br>
                                <br>
                                <% if (typeof error3 !=='undefined' && error3.length> 0) { %>
                                    <div style="color: red;">
                                        <%= error3 %>
                                    </div>
                                    <% } %>
                            </div><br>
                            <div>
                                <label><b>URL:</b></label><br>
                                <input type="text" name="url" placeholder="For URL" value="<%= values.url %>"><br><br>
                                <br>
                                <% if (typeof error6 !=='undefined' && error6.length> 0) { %>
                                    <div style="color: red;">
                                        <%= error6 %>
                                    </div>
                                    <% } %>
                            </div><br>
                            <div>
                                <label><b>Date:</b></label><br>
                                <input type="date" name="date" value="<%= values.date %>"><br><br>
                                <br>
                                <% if (typeof error4 !=='undefined' && error4.length> 0) { %>
                                    <div style="color: red;">
                                        <%= error4 %>
                                    </div>
                                    <% } %>
                            </div><br>
                            <div>
                                <button type="submit">Update</button>
                            </div>
                    </form>
                </td>
            </tr>
        </table>
    </center>
</body>

</html>